<?xml version="1.0"?>
<!--
/**
  * CedCommerce
  *
  * NOTICE OF LICENSE
  *
  * This source file is subject to the End User License Agreement (EULA)
  * that is bundled with this package in the file LICENSE.txt.
  * It is also available through the world-wide-web at this URL:
  * http://cedcommerce.com/license-agreement.txt
  *
  * @category    Ced
  * @package     Ced_Jd
  * @author      CedCommerce Core Team <connect@cedcommerce.com>
  * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
  * @license     http://cedcommerce.com/license-agreement.txt
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Store/etc/config.xsd">
    <default>
        <carriers>
            <shipbyconnector>
                <active>1</active>
                <name>Ship By Ced Connector</name>
                <title>Ship By Ced Connector</title>
                <model>Ced\MagentoConnector\Model\Carrier\Shipbyconnector</model>
            </shipbyconnector>
        </carriers>
        <payment>
            <payconnector>
                <active>1</active>
                <model>Ced\MagentoConnector\Model\Payment\Payconnector</model>
                <title>Pay Ced Connector</title>
            </payconnector>
        </payment>
    </default>
</config>
